altair==4.1.0
geopy==2.3.0
geopandas==0.13.2
google-cloud-storage==2.10.0
ifcopenshell==0.7.0.230818
lark==1.1.7
matplotlib==3.6.1
numpy==1.23.1
pandas==2.0.3
plotly==5.9.0
protobuf==4.24.1
Requests==2.31.0
setuptools==63.4.1
streamlit==1.25.0
streamlit-aggrid==0.3.4.post3
toml==0.10.2
xlsxwriter==3.1.2
